=provide(:title,"Orders")
.orders-list-content
  %h2.text-center Orders
  .weekdays-wrap
    -days_of_the_current_week.each do |day|
      .weekday.btn.btn-primary{ class: [day[:later_today] && 'disabled',
                                day[:full_date] == Date.today && 'active today btn-success'],
                                data:{'ajax-path': admin_get_orders_for_date_path, date: day[:full_date] } }
        %span.weekday-name #{day[:weekday]}
        .addition
          %span.day #{day[:day]}
          %span.month #{day[:month]}
  .orders-list-wrap